@page "/reglog"

<h3>Reglog</h3>

<div>
        <img style="margin: 30px 0 0 230px;" src="images/boilogo.gif" />
    </div>

    <div class="login-reg-panel">
        @if (showAuthenticationError)
        {
        <div class="alert alert-danger" role="alert">
            <p>@authenticationErrorText</p>
        </div>
        }

        <div class="login-info-box">
            <h2>Have an account?</h2>
            <p>Login with your account credentials</p>
            <label id="label-register" for="log-reg-show">Login</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Kindly register!</p>
            <label id="label-login" for="log-login-show">Register</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <div class="login-show">
                <br />
                <br />
                <div id="loginDiv">
                    <h4><b>Kindly login with your credentials</b></h4>
                    <form method="post">
                        <input @bind="Email" autocomplete="off" type="text" placeholder="Email">
                        <input @bind="Password" autocomplete="off" type="password" placeholder="Password">
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn" @onclick="OnPostLoginAsync">
                        </div>
                        <a href="" onclick="">Forgot password?</a>
                    </form>
                </div>
                <div id="forgetPasswordDiv" style="display:none">
                    <h4><b>Forgot Password</b></h4>
                    <form method="post">
                        <input asp-for="Email" autocomplete="off" type="text" placeholder="Email">
                        <div class="form-group">
                            <input type="submit" class="btn float-right login_btn" asp-page-handler="Login">
                        </div>
                        <a href="" onclick="">Click here to Login</a>
                    </form>
                </div>
            </div>

            <div class="register-show">
                <h5><b>REGISTER</b></h5>
                <form method="post">
                    <input @bind="Email" autocomplete="off" type="text" placeholder="Email">
                    <input @bind="RCNumber" autocomplete="off" type="text" placeholder="RCNumber">
                    <input @bind="BusinessName" autocomplete="off" type="text" placeholder="Business Name">
                    <select @bind="BusinessLocation" autocomplete="off" style="width:100%;" type="text" placeholder="Business Location">
                        <option value="">Select Business Location</option>
                        @if (States == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                            @if (States.Count > 0)
                            {
                                @foreach (var st in States)
                                {
                                    <option value="@st.name">@st.name</option>
                                }
                            }
                        }
                    </select>
                    <input @bind="BusinessType" autocomplete="off" type="text" placeholder="Business Type">
                    <input @bind="PhoneNumber" autocomplete="off" type="text" placeholder="Phone Number">
                    <input @bind="RegistrationDate" style="width:100%;" autocomplete="off" type="date" placeholder="Registration Date">
                    <input @bind="Password" autocomplete="off" type="password" placeholder="Password">
                    <input @bind="ConfirmPassword" autocomplete="off" type="password" placeholder="Confirm Password">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn" @onclick="OnPostRegisterAsync">
                    </div>
                </form>

            </div>
        </div>
    </div>

@code {

}
